section.product-container {
  padding: 1rem 1.6rem;
}
ul.product-links {
  display: flex;
  list-style: none;
  gap: 0.3rem;
  font-size: 0.91rem;
}

.product-details-container {
  display: flex;
  gap: 1.5rem;
  align-items: start;
  margin-top: 2rem;
}
.product-image {
  width: 45%;
  /* background: yellow; */
}
#main-img {
  width: 100%;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
}
.other-images {
  width: 100%;
  /* background: blue; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
  margin-top: 0.5rem;
}
.other-images img {
  /* border: 1.5px solid #eeeeee; */
  display: block;
  width: 100%;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}
.product-details {
  width: 55%;
  padding: 0.5rem;
}
#product-head {
  /* background: red; */
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.wishlist-icon {
  border: 1.95px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
}
p.product-details-name {
  font-weight: 600;
  font-size: 1.5rem;
}
p.product-details-price {
  font-size: 1.2rem;
}
.product-details-description,
.product-details-specs {
  margin-top: 1rem;
}
.desc-title,
.specs-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
p.description,
p.specs {
  font-size: 0.909rem;
  line-height: 1.5rem;
}

div.reviews-section {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  gap: 2rem;
}
div.reviews-section-container {
  width: 50%;
}
form.edit-form {
  width: 50%;
}
p.edit-form-heading {
  font-weight: 600;
  font-size: 1.1rem;
}
p.edit-form-subheading {
  font-size: 0.86rem;
  margin-bottom: 1rem;
  color: rgb(255, 71, 71);
}
p.reviews-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}
div.reviews-section textarea {
  width: 100%;
  border-radius: 0.2rem;
  background: #f4f4f4;
  border: none;
  height: 6rem;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
}
div.reviews-section button {
  background: var(--red);
  color: white;
  padding: 0.4rem;
  border-radius: 0.2rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0.9rem;
}

div.more-section {
  /* background: red; */
  margin: 4rem 0;
  width: 100%;
}
p.more-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.more-section-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 1.8rem;
}
.more-section-products div#product {
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

#add-btn {
  border: 1.7px solid var(--red);
  color: var(--red);
  font-weight: 600;
  font-size: 1rem;
  background: white;
  width: 100%;
  margin-top: 1.4rem;
  border-radius: 0.3rem;
  padding: 0.5rem 0 0.6rem;
  cursor: pointer;
}
#buy-btn {
  border: 1.7px solid var(--red);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  background: var(--red);
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 0.3rem;
  padding: 0.5rem 0 0.6rem;
  cursor: pointer;
}

.review-title .date {
  font-size: 0.7rem;
}
.review-title .user {
  font-size: 0.83rem;
  font-weight: 700;
}
.review-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}
.review {
  background: #f4f4f4;
  padding: 0.3rem;
  font-weight: 500;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
}
.review-body {
  font-size: 0.98rem;
  font-weight: 400;
}

@media (max-width: 550px) {
  section.product-container {
    padding: 0.5rem 0.9rem;
  }
}

@media (max-width: 650px) {
  div.reviews-section {
    flex-direction: column;
    gap: 3.5rem;
  }
  div.reviews-section-container {
    width: 100%;
  }
  form.edit-form {
    width: 100%;
  }
  .product-details-container {
    flex-direction: column;
  }
  div.reviews-section {
    width: 100%;
  }
  .product-image {
    width: 100%;
  }
  .product-details {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .more-section-products {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.7rem;
  }
}

@media (max-width: 600px) {
  .more-section-products {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.7rem;
  }
}

@media (max-width: 400px) {
  .more-section-products {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.4rem;
  }
}
