section.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 2.5rem;
  width: 100%;
  position: sticky;
  background: white;
  z-index: 90;
  top: 0;
  border-bottom: 1px solid #f4f4f4;
}
li#dashboard {
  color: white;
  background: rgb(93, 93, 255);
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  padding: 0.2rem 0.3rem 0.3rem;
  font-weight: 700;
  font-size: 0.87rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
section.header ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}
p.logo {
  width: 6rem;
}

section.promo {
  background: var(--black);
  color: var(--white);
  font-weight: 600;
  padding: 0.4rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
section.promo marquee {
  width: 70%;
}

div.logo-section {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.menu-icon {
  display: none;
}

#desktop-links li {
  cursor: pointer;
}

#mobile-nav-links {
  display: flex;
  align-items: center;
}

.icon-number-container {
  position: relative;
}
.icon-number {
  position: absolute;
  top: -0.5rem;
  right: -0.6rem;
  background: rgb(255, 48, 48);
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 980px) {
  #desktop-links {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  section.header {
    padding: 1rem 1.5rem;
  }
  section.promo marquee {
    width: 90%;
  }
}

@media (max-width: 500px) {
  li#dashboard {
    display: none;
  }
  section.header {
    padding: 0.8rem 0.7rem;
  }
  #mobile-login-btn,
  #mobile-wishlist-btn {
    display: none;
  }
  p.logo {
    width: 4.5rem;
  }
}
